<!DOCTYPE html>
<html>
<head>
  <title>Coocoo Records</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%#= render :partial => 'orders/cart_widget' %>

	<%= flash[:notice] %>
	
<%= yield %>

</body>
</html>
